COMPOSE_PROJECT_NAME=zas-sodniki
POSTGRES_PASSWORD=generate_with_node_scripts_generate_deploy_env_js
POSTGREST_DB_PASSWORD=generate_with_node_scripts_generate_deploy_env_js
PGRST_JWT_SECRET=generate_with_node_scripts_generate_deploy_env_js
ZAS_API_URL=https://sodniki-api.jurer.eu
ZAS_API_KEY=generate_with_node_scripts_generate_deploy_env_js
